<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="" />
    <meta name="description" content="" />
    <link
      rel="shortcut icon"
      href="assets/img/favicon.png"
      type="image/x-icon"
    />
    <title>FreeToolsFusion - Access to PREMIUM Tools</title>
    <!--// Fonts \\-->
    <link rel="stylesheet" href="assets/fonts/fonts.css" />
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css" />
    <!--\\ Fonts //-->
    <!--// Bootstrap \\-->
    <link rel="stylesheet" href="assets/plugins/bootstrap/bootstrap.min.css" />
    <!--\\ Bootstrap //-->
    <!--// Stylesheet \\-->
    <link rel="stylesheet" href="assets/css/style.css" />
    <!--\\ Stylesheet //-->
    <!-- Product Display Section Style -->
    <link type="text/css" href="common/css/style.css" rel="stylesheet" />
  </head>

  <body>
    <!--// Header \\-->
    <header class="fixed-top">
      <div class="container">
        <nav class="navbar navbar-expand-md">
          <a class="navbar-brand" href="index-2.html">
            <!--// Logo \\-->
            <!-- Light Logo -->
            <img
              src="assets/img/logo.png"
              alt="The Software Launch"
              class="img-fluid lightLogo"
            />
            <!-- Dark Logo -->
            <img
              src="assets/img/logo.png"
              alt="The Software Launch"
              class="img-fluid darkLogo"
            />
            <!--// Header \\-->
          </a>
          <!-- Navigation Button -->
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="collapse navbar-collapse justify-content-end"
            id="navbarSupportedContent"
          >
            <!-- Navigation Item -->
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#features">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#testimonials">Testimonials</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#faq">FAQ's</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <!--\\ Header //-->
    <!--// Main \\-->
    <main>
      <!--// Hero Section \\-->
      <section class="hero-section">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="inner-container text-center">
                <div class="top-content">
                  <h3 class="font-weight-semibold text-yellow">
                    Save Money, Increase Productivity
                  </h3>
                  <h1 class="text-white font-weight-bold">
                    Fuel Your Online Adventures with
                    <span class="text-underline">FreeToolsFusion</span>
                  </h1>
                </div>
                <div class="middle-content position-relative">
                  <p class="text-white mb-4">
                    Premium Tools, Priceless Access, For Lifetime!
                  </p>
                  <a
                    href="https://www.buymeacoffee.com/mernweb/e/160552"
                    target="_blank"
                    class="btn btn-orange"
                  >
                    <span class="title">GET LIFETIME ACCESS FOR $1</span>
                  </a>
                  <div class="deocrator-shape-01 d-none d-lg-inline-block">
                    <img
                      src="assets/img/decorator-shape-01.png"
                      alt="The Software Launch"
                      class="img-fluid"
                    />
                  </div>
                  <div class="deocrator-shape-02 d-none d-lg-inline-block">
                    <img
                      src="assets/img/decorator-shape-02.png"
                      alt="The Software Launch"
                      class="img-fluid"
                    />
                  </div>
                </div>
                <div class="bottom-content">
                  <video
                    poster="/screenshot-1.png"
                    style="width: 100%; height: 600px"
                    controls
                  >
                    <source src="/freetoolsfusion-demo.mp4" type="video/mp4" />
                  </video>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--\\ Hero Section //-->
      <!--// Features Section \\-->
      <section class="features-section section-alt-spacer" id="features">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="section-title">
                <p>Start growing your business</p>
                <h2>
                  Experience
                  <span class="text-green">The Best Features</span> Ever
                </h2>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-4 item-single">
              <div class="inner-container text-center">
                <figure>
                  <img
                    src="assets/img/features-icon-01.png"
                    alt="The Software Launch"
                    class="img-fluid"
                  />
                </figure>
                <h4 class="font-weight-bold">Premium Tools Access</h4>
                <p class="font-weight-medium mb-0">
                  Gain instant access to a curated collection of premium web
                  tools without any cost.
                </p>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 item-single">
              <div class="inner-container text-center">
                <figure>
                  <img
                    src="assets/img/features-icon-02.png"
                    alt="The Software Launch"
                    class="img-fluid"
                  />
                </figure>
                <h4 class="font-weight-bold">Ad-Free Browsing</h4>
                <p class="font-weight-medium mb-0">
                  Enjoy a seamless browsing experience with built-in ad-blocking
                  capabilities for a clutter-free view.
                </p>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 item-single">
              <div class="inner-container text-center">
                <figure>
                  <img
                    src="assets/img/features-icon-03.png"
                    alt="The Software Launch"
                    class="img-fluid"
                  />
                </figure>
                <h4 class="font-weight-bold">Enhanced Security</h4>
                <p class="font-weight-medium mb-0">
                  Keep your activities safe with advanced security features that
                  protect against malicious and phishing attempts.
                </p>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 item-single">
              <div class="inner-container text-center">
                <figure>
                  <img
                    src="assets/img/features-icon-04.png"
                    alt="The Software Launch"
                    class="img-fluid"
                  />
                </figure>
                <h4 class="font-weight-bold">Time-Saving Utilities</h4>
                <p class="font-weight-medium mb-0">
                  Boost productivity with time-saving utilities like quick
                  bookmarking, tab management, and note-taking tools.
                </p>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 item-single">
              <div class="inner-container text-center">
                <figure>
                  <img
                    src="assets/img/features-icon-05.png"
                    alt="The Software Launch"
                    class="img-fluid"
                  />
                </figure>
                <h4 class="font-weight-bold">Lifetime Access</h4>
                <p class="font-weight-medium mb-0">
                  Empower you for a lifetime of success. Whether it's
                  productivity, security, creativity, or convenience
                </p>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 item-single">
              <div class="inner-container text-center">
                <figure>
                  <img
                    src="assets/img/features-icon-06.png"
                    alt="The Software Launch"
                    class="img-fluid"
                  />
                </figure>
                <h4 class="font-weight-bold">Support and Feedback</h4>
                <p class="font-weight-medium mb-0">
                  Receive prompt assistance and provide feedback directly from
                  the extension, ensuring a seamless user experience.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--\\ Features Section //-->
      <!--// Software Features Section \\-->
      <section class="software-features-section section-spacer">
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-5 order-2 order-lg-1">
              <div class="inner-container left-container">
                <figure class="mb-0 mt-3 mt-lg-0 text-center text-lg-left">
                  <img
                    src="assets/img/software-features.png"
                    alt="The Software Launch"
                    class="img-fluid"
                  />
                </figure>
              </div>
            </div>
            <div class="col-12 col-lg-7 order-1 order-lg-2">
              <div class="inner-container right-container">
                <div class="section-title text-lg-left">
                  <p>Start growing your business</p>
                  <h2>
                    Amazing <span class="text-green">features</span> of our
                    Extension
                  </h2>
                </div>
                <p class="fz-125 text-center text-lg-left">
                  Certainly, here are some potential features for the
                  "FreeToolsFusion" Chrome extension
                </p>
                <p class="mb-0 font-weight-semibold">1. Premium Tool Access</p>
                <p class="font-weight-medium">
                  Gain instant access to a curated collection of premium web
                  tools without any cost.
                </p>
                <p class="mb-0 font-weight-semibold">2. Ad-Free Browsing</p>
                <p class="font-weight-medium">
                  Enjoy a seamless browsing experience with built-in ad-blocking
                  capabilities for a clutter-free view.
                </p>
                <p class="mb-0 font-weight-semibold">3. Enhanced Security</p>
                <p class="font-weight-medium">
                  Keep your online activities safe with advanced security
                  features that protect against malicious websites and phishing
                  attempts.
                </p>
                <p class="mb-0 font-weight-semibold">
                  4. Time-Saving Utilities
                </p>
                <p class="font-weight-medium">
                  Boost productivity with time-saving utilities like quick
                  bookmarking, tab management, and note-taking tools.
                </p>
                <p class="mb-0 font-weight-semibold">5. Support and Feedback</p>
                <p class="font-weight-medium">
                  Receive prompt assistance and provide feedback directly from
                  the extension, ensuring a seamless user experience.
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div
                class="inner-container bottom-content text-center position-relative"
              >
                <div class="decorator-shape-01 d-none d-lg-inline-block">
                  <img
                    src="assets/img/decorator-shape-03.png"
                    alt="The Software Launch"
                    class="img-fluid"
                  />
                </div>
                <div class="decorator-shape-02 d-none d-lg-inline-block">
                  <img
                    src="assets/img/decorator-shape-04.png"
                    alt="The Software Launch"
                    class="img-fluid"
                  />
                </div>
                <a
                  href="https://www.buymeacoffee.com/mernweb/e/160552"
                  target="_blank"
                  class="btn btn-orange"
                >
                  <span class="title">GET LIFETIME ACCESS FOR $1</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--\\ Software Features Section //-->
      <!--// Presentation Section \\-->
      <section
        class="presentation-section section-spacer position-relative pb-0"
      >
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="section-title mb-3">
                <p class="text-white">Start growing your business</p>
                <h2 class="text-white">
                  Watch The <span class="text-yellow">presentation</span>
                </h2>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="inner-container">
                <p
                  class="double-quotes font-caveat text-white text-center line-height-1 mb-5"
                >
                  Unlock your full potential with our revolutionary solution.
                  Transform your productivity, streamline your tasks, and
                  conquer your goals like never before. Embrace efficiency,
                  embrace success - it's time to make every second count.
                </p>
                <video
                  poster="/screenshot-1.png"
                  style="width: 100%; height: 600px"
                  controls
                >
                  <source src="/freetoolsfusion-demo.mp4" type="video/mp4" />
                </video>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--\\ Presentation Section //-->
      <!--// Recommended Section \\-->
      <section class="recommended-section section-alt-spacer" id="testimonials">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="section-title">
                <p>Start growing your business</p>
                <h2>
                  RECOMMENDED BY
                  <span class="text-green">LEADING EXPERTS</span> IN INDUSTRY
                </h2>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="inner-container left-container">
                <div class="testimonial-single">
                  <h4 class="font-weight-extrabold">"Fabulous Extension"</h4>
                  <p class="font-weight-semibold font-italic">
                    "FreeToolsFusion is a gem among browser extensions. The way
                    it combines premium tools, security, and customization
                    options is truly impressive. It's a testament to how
                    technology can enhance our online experiences without
                    breaking the bank."
                  </p>

                  <p class="font-weight-semibold font-italic">
                    "Working remotely requires adaptability and efficiency.
                    FreeToolsFusion's range of productivity tools helps me stay
                    on top of my tasks, and the news dashboard keeps me informed
                    during breaks. It's like having a virtual office assistant."
                  </p>
                  <p class="font-weight-semibold font-italic">
                    "FreeToolsFusion has become an indispensable tool for my
                    research projects. The ad-free browsing lets me focus on my
                    research without distractions, and the currency conversion
                    feature helps me analyze global market trends with ease."
                  </p>
                  <div class="testimonial-details mb-4 mb-md-0">
                    <div class="avatar">
                      <img
                        src="assets/img/avatar-01.png"
                        alt="The Software Launch"
                        class="img-fluid"
                      />
                    </div>
                    <div class="details">
                      <h3>Sarah Green</h3>
                      <h4>Tech Savvy</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="inner-container right-container">
                <div class="testimonial-single">
                  <h4 class="font-weight-extrabold">
                    "I Am Totally Satisfied"
                  </h4>
                  <p class="font-weight-semibold font-italic">
                    "FreeToolsFusion has completely transformed the way I work
                    online. The premium tools it offers have taken my
                    productivity to new heights, and the security features give
                    me peace of mind. The best part? It's all free! This
                    extension is a game-changer."
                  </p>
                  <div class="testimonial-details">
                    <div class="avatar">
                      <img
                        src="assets/img/avatar-02.png"
                        alt="The Software Launch"
                        class="img-fluid"
                      />
                    </div>
                    <div class="details">
                      <h3>David Brown</h3>
                      <h4>Digital Marketer</h4>
                    </div>
                  </div>
                </div>
                <div class="testimonial-single mb-0">
                  <h4 class="font-weight-extrabold">"Amazing Work Done"</h4>
                  <p class="font-weight-semibold font-italic">
                    "I run a small business, and every dollar counts.
                    FreeToolsFusion's lifetime access to premium tools has been
                    a game-changer for me. It's like getting a toolkit full of
                    resources without the hefty price tag. I'm more efficient,
                    more secure, and more confident in my online operations.
                  </p>
                  <div class="testimonial-details">
                    <div class="avatar">
                      <img
                        src="assets/img/avatar-03.png"
                        alt="The Software Launch"
                        class="img-fluid"
                      />
                    </div>
                    <div class="details">
                      <h3>Emily Johnson</h3>
                      <h4>Small Business Owner</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="inner-container text-center bottom-content">
                <a
                  href="https://www.buymeacoffee.com/mernweb/e/160552"
                  target="_blank"
                  class="btn btn-orange"
                >
                  <span class="title">GET LIFETIME ACCESS FOR $1</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--\\ Recommended Section //-->
      <!--// Screenshot Section \\-->
      <div class="screenshot-section section-spacer" id="screenshots">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="section-title">
                <p class="text-white">Start growing your business</p>
                <h2 class="text-white">
                  SOFTWARE
                  <span class="text-yellow">INTERFACE Screenshot</span> in
                  details
                </h2>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="inner-container tab-content">
                <nav>
                  <div
                    class="nav nav-pills justify-content-between"
                    id="screenshot-tab"
                    role="tablist"
                  >
                    <a
                      class="nav-link active"
                      id="screenshot-01-tab"
                      data-bs-toggle="tab"
                      href="#screenshot-01"
                      role="tab"
                      aria-controls="screenshot-01"
                      aria-selected="true"
                      >Screenshot 01</a
                    >
                    <a
                      class="nav-link"
                      id="screenshot-02-tab"
                      data-bs-toggle="tab"
                      href="#screenshot-02"
                      role="tab"
                      aria-controls="screenshot-02"
                      aria-selected="false"
                      >Screenshot 02</a
                    >
                    <a
                      class="nav-link"
                      id="screenshot-03-tab"
                      data-bs-toggle="tab"
                      href="#screenshot-03"
                      role="tab"
                      aria-controls="screenshot-03"
                      aria-selected="false"
                      >Screenshot 03</a
                    >
                    <a
                      class="nav-link"
                      id="screenshot-04-tab"
                      data-bs-toggle="tab"
                      href="#screenshot-04"
                      role="tab"
                      aria-controls="screenshot-04"
                      aria-selected="false"
                      >Screenshot 04</a
                    >
                  </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                  <div
                    class="tab-pane fade show active"
                    id="screenshot-01"
                    role="tabpanel"
                    aria-labelledby="screenshot-01-tab"
                  >
                    <figure class="mb-0 text-center">
                      <img
                        src="/screenshot-1.png"
                        alt="FreeToolsFusion Extension Screenshot"
                        class="img-fluid"
                      />
                    </figure>
                  </div>
                  <div
                    class="tab-pane fade"
                    id="screenshot-02"
                    role="tabpanel"
                    aria-labelledby="screenshot-02-tab"
                  >
                    <figure class="mb-0 text-center">
                      <img
                        src="/screenshot-2.png"
                        alt="FreeToolsFusion Extension Screenshot"
                        class="img-fluid"
                      />
                    </figure>
                  </div>
                  <div
                    class="tab-pane fade"
                    id="screenshot-03"
                    role="tabpanel"
                    aria-labelledby="screenshot-03-tab"
                  >
                    <figure class="mb-0 text-center">
                      <img
                        src="/screenshot-1.png"
                        alt="FreeToolsFusion Extension Screenshot"
                        class="img-fluid"
                      />
                    </figure>
                  </div>
                  <div
                    class="tab-pane fade"
                    id="screenshot-04"
                    role="tabpanel"
                    aria-labelledby="screenshot-04-tab"
                  >
                    <figure class="mb-0">
                      <img
                        src="/screenshot-2.png"
                        alt="FreeToolsFusion Extension Screenshot"
                        class="img-fluid"
                      />
                    </figure>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--\\ Screenshot Section //-->
      <!--// FAQ Section \\-->
      <div class="faq-section section-spacer" id="faq">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="section-title">
                <p>Start growing your business</p>
                <h2>
                  NEED HELP? WE ARE
                  <span class="text-green">HERE TO HELP YOU</span>
                </h2>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="inner-container">
                <div class="accordion" id="accordionExample">
                  <div class="faq-single">
                    <div class="accordion-header" id="headingOne">
                      <h2
                        class="mb-0"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseOne"
                        aria-expanded="true"
                        aria-controls="collapseOne"
                      >
                        What is FreeToolsFusion?
                      </h2>
                    </div>
                    <div
                      id="collapseOne"
                      class="collapse show"
                      aria-labelledby="headingOne"
                      data-bs-parent="#accordionExample"
                    >
                      <div class="accordion-body">
                        FreeToolsFusion is a Chrome extension that provides
                        users with access to a collection of premium web tools
                        without any cost. It's designed to enhance your browsing
                        experience, boost productivity, and improve security,
                        all while offering a customizable and user-friendly
                        interface.
                      </div>
                    </div>
                  </div>
                  <div class="faq-single">
                    <div class="accordion-header" id="headingTwo">
                      <h2
                        class="mb-0"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo"
                        aria-expanded="false"
                        aria-controls="collapseTwo"
                      >
                        How do I install FreeToolsFusion?
                      </h2>
                    </div>
                    <div
                      id="collapseTwo"
                      class="collapse"
                      aria-labelledby="headingTwo"
                      data-bs-parent="#accordionExample"
                    >
                      <div class="accordion-body">
                        Installing FreeToolsFusion is easy! Simply visit the
                        Chrome Web Store, search for "FreeToolsFusion," and
                        click the "Add to Chrome" button. Follow the prompts,
                        and the extension will be added to your browser.
                      </div>
                    </div>
                  </div>
                  <div class="faq-single">
                    <div class="accordion-header" id="headingThree">
                      <h2
                        class="mb-0"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseThree"
                        aria-expanded="false"
                        aria-controls="collapseThree"
                      >
                        What kind of premium tools does FreeToolsFusion offer?
                      </h2>
                    </div>
                    <div
                      id="collapseThree"
                      class="collapse"
                      aria-labelledby="headingThree"
                      data-bs-parent="#accordionExample"
                    >
                      <div class="accordion-body">
                        FreeToolsFusion offers a wide range of premium tools,
                        including ad-blocking capabilities, enhanced security
                        features, time-saving utilities like tab management and
                        note-taking, language translation, currency conversion,
                        social media integration, and more.
                      </div>
                    </div>
                  </div>
                  <div class="faq-single">
                    <div class="accordion-header" id="headingFour">
                      <h2
                        class="mb-0"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseFour"
                        aria-expanded="false"
                        aria-controls="collapseFour"
                      >
                        How is my security ensured while using FreeToolsFusion?
                      </h2>
                    </div>
                    <div
                      id="collapseFour"
                      class="collapse"
                      aria-labelledby="headingFour"
                      data-bs-parent="#accordionExample"
                    >
                      <div class="accordion-body">
                        Your security is a top priority. FreeToolsFusion
                        includes advanced security features that protect you
                        from malicious websites, phishing attempts, and
                        trackers. Our goal is to ensure that your online
                        activities are safe and your personal information
                        remains private.
                      </div>
                    </div>
                  </div>
                  <div class="faq-single">
                    <div class="accordion-header" id="headingFive">
                      <h2
                        class="mb-0"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseFive"
                        aria-expanded="false"
                        aria-controls="collapseFive"
                      >
                        Can I use FreeToolsFusion on different devices?
                      </h2>
                    </div>
                    <div
                      id="collapseFive"
                      class="collapse"
                      aria-labelledby="headingFive"
                      data-bs-parent="#accordionExample"
                    >
                      <div class="accordion-body">
                        Currently, FreeToolsFusion is available as a Chrome
                        extension, which means it can be used on any device that
                        supports the Chrome browser. This includes desktop
                        computers, laptops, and some mobile devices.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--\\ FAQ Section //-->
    </main>
    <!--\\ Main //-->
    <!--// Footer \\-->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="inner-container text-center">
              <!-- Footer Logo -->
              <figure class="mb-4">
                <img
                  class="logo"
                  src="assets/img/logo.png"
                  alt="The Software Launch"
                  loading="lazy"
                />
              </figure>
              <p>
                Elevate your browsing with FreeToolsFusion: Access premium web
                tools, enhance security, boost productivity - all at zero cost.
                Your digital journey, upgraded.
              </p>
              <!-- Footer Menu -->

              <!-- Copyright -->
              <p>
                © Copyright
                <span id="copyright_year"></span> FreeToolsFusion.xyz-All rights
                reserved | Developed by :
                <a href="https://fiverr.com/mernweb" target="_blank">
                  MERNWEB</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!--\\ Footer //-->

    <!-- Back to top -->
    <!-- You do not want to use a back to top - Comment bellow line -->
    <div class="backtotop"></div>
    <!-- Preloader -->
    <!-- You do not want to use a preloader - Comment bellow line -->
    <div id="preloader"></div>
    <!-- Product Display Section in Bottom Start Here  -->
    <!-- Product Display Section in Bottom End Here  -->
    <!--// jQuery \\-->
    <script src="assets/plugins/jquery/jquery.min.js"></script>
    <!--\\ jQuery //-->
    <!--// Bootstrap \\-->
    <script src="assets/plugins/bootstrap/bootstrap.min.js"></script>
    <!--\\ Bootstrap //-->
    <!--// Main JS \\-->
    <script src="assets/js/main.js"></script>

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
      var Tawk_API = Tawk_API || {},
        Tawk_LoadStart = new Date();
      (function () {
        var s1 = document.createElement("script"),
          s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = "https://embed.tawk.to/64e5df2ccc26a871b030e03f/1h8guvi61";
        s1.charset = "UTF-8";
        s1.setAttribute("crossorigin", "*");
        s0.parentNode.insertBefore(s1, s0);
      })();
    </script>
    <!--End of Tawk.to Script-->
    <!--\\ Main JS //-->
  </body>
</html>
